body {
    color: violet;
}
.header h1,
.header .breadcrumb {
 text-align: center;
}
.book .addbtn,
.searchBar input[type=submit] {
--padding: 8px 10px;
--border-radius: 5px;
--min-width: 80px;
--float: right;
--font-size: 1.1em;
}
.searchBar {
    margin-top: 100px;
}
.book img {
    margin: 10px;
    width: 200px;
    height: 300px;
    margin: 50px;
    border: 2px solid black;
}
p2 {
    font-size: 14px;
    font-style: italic;
}
.line {
 border-bottom: 5px solid;
display: block;
white-space: 2px;
]
